@keyframes animate {
	from
	{
		width: 0;
	}
}
@media (min-width:768px) and (max-width: 1024px){
	.row {
		display: flex;
		flex-direction: column;
	}
	header .image{
		background: #14cec0;
	}
	header .image_description {
		position: absolute;
		left: 5px;
		top: 54px;
		font-size: 15px;
	}
	header {
		height: 100px;
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
	}
	header nav ul{
		margin: 0;
		margin-right: 0;
		padding-left: 210px;
		width: auto;
	}
	header ul li {
		font-size: 0.8em;
	}
	header ul li:nth-child(3),header ul li:nth-child(4),header ul li:nth-child(5){
		display: none;
	}
	#menuToggle span{
		background: black!important;
	}
}
.row {
	height: auto;
	width: 594px;
	font-family: 'Lato', sans-serif;
	font-size: large;
}
.col-sm-4{
	display: flex;
	flex-direction: column-reverse;
	padding-left: 20px;
	background: #212121;
	color: white;
	border-radius: 10px;
}
/*Hamburger*/
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
} 
#menuToggle a {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
}
#menuToggle a:hover {
    color: tomato;
}
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
/* 
  * Transform all the slices of hamburger
  * into a crossmark.
*/
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
/*
  * But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}/*
  * Make this absolute positioned
  * at the top left of the screen
*/
#menu {
	position: absolute;
	height: 912px;
    width: 300px;
    margin: -100px 0 0 -107px;
    padding: 50px;
    padding-top: 125px;
    background: linear-gradient(218deg, rgba(34,193,195,1) 0%, rgba(253,176,45,1) 100%);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
    padding: 10px 0;
    font-size: 22px;
} 
/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
    transform: none; 
}
.social_network ul {
	position:absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}
.social_network ul li {
list-style:none;
}
  .social_network ul li a {
  /*   ?? */
	display:block;
	position:relative;
	width: 50px;
	height:50px;
	line-height: 50px;
	text-align: center;
  /*   background: #ccc; */
	text-decoration: none;
	color: #262626;
	margin: 0 10px;
	transition: .5s;
  }
  .social_network ul li a span {
	position: absolute;
	transition: transform .5s;
  }
  .social_network ul li a span:nth-child(1),
  .social_network ul li a span:nth-child(3) {
	width: 100%;
	height: 1px;
	background: #262626;
  }
  .social_network ul li a span:nth-child(1) {
	top: 0;
	left: 0;
	transform-origin: right;
  }
  .social_network ul li a:hover span:nth-child(1) {
	transform:scaleX(0);
	transform-origin: left;
	transition: transform .5s;
  }
  
  .social_network ul li a span:nth-child(3) {
	bottom: 0;
	right: 0;
	transform-origin: left;
  }
  .social_network ul li a:hover span:nth-child(3) {
	transform:scaleX(0);
	transform-origin: right;
	transition: transform .5s;
  }
  
  /* vertical */
  
  .social_network ul li a span:nth-child(2),
  .social_network ul li a span:nth-child(4) {
	height: 100%;
	width: 1px;
	background: #262626;
  }
  .social_network ul li a span:nth-child(2) {
	top: 0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
  }
  .social_network ul li a:hover span:nth-child(2) {
	transform:scaleY(1);
	transform-origin: top;
	transition: transform .5s;
  }
  
  .social_network ul li a span:nth-child(4) {
	top: 0;
	right: 0;
	transform:scaleY(0);
	transform-origin: top;
  }
  .social_network ul li a:hover span:nth-child(4) {
	transform:scaleY(1);
	transform-origin: bottom;
	transition: transform .5s;
  }
.image {
	display: flex;
	position: relative;
	background: url('images/moi-mini.jpg') no-repeat;
	background-size: cover;
	width: 210px;
	height: 183px;
}
header {
	width: 100%;
	border: solid 2px black;
	color: white;
	font-size: large;
	background-color: rgb(23, 139, 244);
}
.image_description {
	position: absolute;
	left: 5px;
	top: 140px;
	font-size: 15px;
}
.image_description p {
	margin-top: -5px;
	margin-bottom: 2px;
	font-size: large;
	text-align: center;
}
nav li{
	list-style-type: none;
	font-size: medium;
	padding-bottom: 10px;
}
nav ul{
	padding-left: 0;
}
nav li img{
	height: 15px;
}
td,th{
	border: 1px solid black;
	border-radius: 10px;;
}
a {
	color: white;
}
a:hover {
	background-color: pink;
	text-decoration: underline;
}
header p{
	text-align: center;
}
hr {
	width:150px;
	height: 0px;
}
.row{
	display: flex;
}
section p{
	font-style: italic;
	margin: auto; 
}
td + a{
	color: #00CED1;
}
span {
	color: #00CED1;
}
nav h1 {
	text-align: center;
	color: beige;
	font-size: x-large;
}
/*barre de chargement*/
.container {
	position: relative;
	width: 210px;
}
.container p{
	margin-bottom: 10px;
}
/*Animation*/
.container .skills {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 10px 0;
	padding: 10px;
	overflow: hidden;
	transition: 0.5s;
}
.container .skills .percent{
	position: relative;
	width: calc(100% - 40px);
	height: 1px;
	background: #000000;
}
.container .skills .percent .progress{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: #ffff;
	animation: animate 4s ease-in-out forwards;
}
.competences {
	width: auto;
	height: 320px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	color: white;
	text-align: center;
	background-color: #212121;
}
.competences .container .skills .percent{
	background: white;
	height: 10px;
	border-radius: 10px;
}
.competences .container .skills .percent .progress{
	border-radius: 10px;
}
.competences .container .skills .percent .progress:nth-child(1) {
	background:	linear-gradient(45deg, #1FE6FF, #673ab7);
}
.competences .container .skills:nth-child(2) .percent .progress {
	background:	linear-gradient(45deg, #1FE6FF, red);
}
/*Effet survol*/
.competences:hover .container .skills{
	opacity: 0.05;
}
.competences .container:hover .skills{
	opacity: 1;
	transform: scale(1.1);
}